<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">

<style>
.main {
    background-color:red
}
</style>



 <title>首頁</title>
</head>
<body>
<!--導覽列-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">我的</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">胖子</a>
                <a class="nav-link" href="{{url_for('feature')}}">奇奇</a>
                <a class="nav-link" href="#">嚕嚕</a>
                <a class="nav-link disabled">天天</a>
            </div>
        </div>
    </div>
</nav>
<!--導覽列-->
<div class="container main">
    <h1>奇奇</h1>
 


</body>
</html>